[phases.setup]
nixPkgs = ["python3", "android-tools", "tailscale", "tesseract", "tesseract-ocr-eng"]

[phases.start]
cmd = """
tailscaled --tun=userspace-networking --statedir=/app/tailscale_state --state=mem: & 
sleep 5 && 
tailscale up --authkey=$TAILSCALE_AUTHKEY --hostname=railway-bot && 
adb connect $PHONE_IP:5555 && 
python main.py
"""