[phases.setup]
nixPkgs = ["python3", "android-tools", "tailscale"]

[phases.prestart]
cmds = [
  'mkdir -p /root/.android',
  'echo "$ADB_PRIVATE_KEY" > /root/.android/adbkey',
  'echo "$ADB_PUBLIC_KEY" > /root/.android/adbkey.pub',
  'chmod 600 /root/.android/adbkey'
]